body {
  background-color: var(--theme-background);
}

.sidebar__background-parent {
  border-right: 1px solid var( --theme-border-primary);
  border-bottom: 2px solid var( --theme-border-primary);
  border-radius: 8px;
}

.button {
  color: var( --theme-background);
  font-weight: 800;
  border: none;
  border-radius: 20px;
  padding: 8px;
}

.big-button {
  color: var( --theme-background);
  font-weight: 800;
  border: none;
  border-radius: 60px;
  padding: 14px 0px;
}

.main-container__background-parent {
  border-left: 1px solid var( --theme-border-primary);
  border-bottom: 2px solid var( --theme-border-primary);
  border-radius: 8px;
}